<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Information Technology</h1>
            <span>Posts and Telecommunications Institute of Technology of Ha Noi</span>
            <span><address>Ha Noi, Viet Nam</address><time>09/2008 - 02/2013 ( 4 years 5 months )</time></span>
        </header>
        <p>
            <em>Bachelors</em>
        </p>
    </article>
    <article>
        <header>
            <h1>M102: MongoDB for DBAs</h1>
            <span>MongoDB University</span>
            <span><time>07/2013 - 09/2013 ( 2 months )</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>M101JS: MongoDB for Node.js Developers</h1>
            <span>MongoDB University</span>
            <span><time>10/2013 - 12/2013 ( 2 months )</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>M202: MongoDB Advanced Deployment and Operations</h1>
            <span>MongoDB University</span>
            <span><time>03/2016 - 05/2016 ( 2 months )</time></span>
        </header>
    </article>
</section>
