<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Technical Consultant</h1>
            <span>FPT Software <address>Ha Noi, Viet Nam</address><time>10/2016 - 03/2017</time></span>
        </header>
        Fsoft is Vietnam’s largest and one of the fastest growing software outsourcing companies.
        <br />
        As a Technical Consultant, my responsibilities are:
        <ul>
            <li>- Interview and hire JS developer</li>
            <li>- Train the team about react and nodejs</li>
            <li>
                - Work with devops team to set up infrastructure for a customer
                <ul>
                    <li>+ Setup mongodb for staging and production environment</li>
                    <li>+ Use Troposphere, Ansible to create and run infrastructure on AWS</li>
                    <li>+ Deploy application on staging ...</li>
                </ul>
            </li>
            <li>- Design database for some service</li>
        </ul>
    </article>
     <article>
        <header>
            <h1>Software Engineer</h1>
            <span>Cityme.vn <address>Ha Noi, Viet Nam</address><time>08/2015-  10/2016</time></span>
        </header>
        Cityme is a location-based services startup based in Ha Noi. With Cityme, you can easy to find deals with best price and share your experiences with friends and community.
        <br />
        As a Fullstack and Devops engineer, my responsibilities are:
        <ul>
            <li>- Built biz manager service to help the shop manage their deals :
                <ul>
                    <li>+ Designed and implemented RESTful APIs</li>
                    <li>+ Worked with React and Flux related stack</li>
                    <li>+ Setup TDD approach</li>
                </ul>
            </li>
            <li>- Built media service with nodejs, s3, cloudfront</li>
            <li>- Setup deployment pipeline to Production for team, work with many modern technologies like Jenkins, AWS (EC2, ELB), Docker ...</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Fullstack Developer</h1>
            <span>HitchLab LLC <address>Ha Noi, Viet Nam</address><time>08/2013 – 07/2015</time></span>
        </header>
        <p>HitchLab LLC is startup company based in San Francisco. My role on the team was that of a senior nodejs web applications developer. I worked on some projects:</p>
        <ul>
            <li>- Home Game: An open house app for real estate agents
                <ul>
                    <li>+ Stack</li>
                    <li>Nodejs/Meteor/Mongodb/Cordova</li>
                </ul>
            <li>
            <li>- Suitor: Find people you're interested in nearby and meetup as friends or something more
                <ul>
                    <li>+ Stack</li>
                    <li>Nodejs/Meteor/Mongodb/Cordova</li>
                </ul>
            </li>
        </ul>
    <article>
    <article>
        <header>
            <h1>Freelancer</h1>
            <span><time>08/2011–07/2012</time></span>
        </header>
        <p></p>
    </article>
</section>
