<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span>Cityme.vn <address>Ha Noi, Viet Nam</address><time>08/2015-  10/2016</time></span>
        </header>
        <ul>
            <li>Built biz manager site to manager deals :</li>
            <ul>
                <li>Designed and implemented RESTful APIs</li>
                <li>Worked with React and Flux related stack</li>
                <li>Setup TDD approach</li>
            </ul>
            <li>Built media service with nodejs, s3, cloudfront</li>
            <li>Setup deployment pipeline to Production for team, work with many modern technologies like Jenkins, AWS (EC2, ELB), Docker ...</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Fullstack Developer</h1>
            <span>HitchLab LLC<address>Ha Noi, Viet Nam</address><time>08/2013 – 07/2015</time></span>
        </header>
        <p>HitchLab LLC is startup company based in San Francisco. My role on the team was that of a senior nodejs web applications developer. I worked on some projects:</p>
        <ul>
            <li>Home Game: An open house app for real estate agents<li>
            <ul>
                <li>Stack</li>
                <li>Nodejs/Meteor/Mongodb/Cordova</li>
            </ul>
            <li>Suitor: Find people you're interested in nearby and meetup as friends or something more</li>
            <ul>
                <li>Stack</li>
                <li>Nodejs/Meteor/Mongodb/Cordova</li>
            </ul>
        </ul>
    </article>
    <article>
        <header>
            <h1>Freelancer</h1>
            <span><time>08/2011–07/2012</time></span>
        </header>
        <p></p>
    </article>
</section>
