<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & devops</h1>
        </header>
        <p>
            <em>LANGUAGE: Javascript/Nodejs, Php, Java</em><br/>
            Currently learning: Go
        </p>
        <p>
            <em>FRAMEWORK SKILLS: ExpressJS, Meteor.js</em>
        </p>
        <p>
            <em>Docker: Docker engine, docker compose, docker swarm</em>
        </p>
        <p>
            <em>Devops: Jenkins, Consul, ELK</em>
        </p>
        <p>
            <em>AWS: EC2, ELB, S3, Redshift, Cloudfront</em>
        </p>
        <p>
            <em>Database: Mongodb, Redis, Mysql, Postgresql</em>
        </p>
        <p>
            <em>OTHER SKILLS: Git, Cordova, Nginx, Digitalocean (Deployment and Configuration), RESTful API Implementation, Css & Sass & Smacss, Tdd / Bdd, Sublime</em>
        </p>
    </article>
</section>