<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering && devops && Scrum master</h1>
        </header>
        <br/>
        <p>
            <div>Product Development Process: Scrum, Agile</div>
            <div>Tools: pivotaltracker, trello</div>
        </p>
        <br/>
        <p>
            <div>Source Code Management: Git</div>
            <div>Tools: github, gitlab, bitbucket</div>
        </p>
        <br/>
        <p>
            <div>Language</div>
            <div>Proficient: JS/Node.js</div>
            <div>Familiar with: Php, Java</div>
            <div>Currently learning: Go, Python</div>
        </p>
        <br/>
        <p>
            <div>AWS: ECS, ALB, EC2, ELB, Cloudfront, VPC, S3, Redshift, Route53, Serverless (Api Gateway, Lambda), IAM</div>
        </p>
        <br/>
        <p>
            <div>Devops: Jenkins, Consul, ELK, Terraform, setup CI/CD</div>
        </p>
        <br/>
        <p>
            <div>Docker: Docker engine, docker compose, docker swarm</div>
        </p>
        <br/>
        <p>
            <div>Database: Mongodb, Redis, Mysql, Postgresql</div>
        </p>
        <br/>
        <p>
            <div>OTHER SKILLS: Git, Cordova, Nginx, Digitalocean (Deployment and Configuration), RESTful API Implementation, Css & Sass & Smacss, Tdd / Bdd, Sublime</div>
        </p>
    </article>
</section>