<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering && devops && Scrum master</h1>
        </header>
        <br/>
        <p>
            <em>Product Development Process: Scrum, Agile</em><br/>
            <em>Tools: pivotaltracker, trello</em><br/>
        </p>
        <br/>
        <p>
            <em>Source Code Management: Git</em><br/>
            <em>Tools: github, gitlab, bitbucket</em><br/>
        </p>
        <br/>
        <p>
            <em>Language</em><br/>
            <em>Proficient: JS/Node.js</em><br/>
            <em>Familiar with: Php, Java</em><br/>
            <em>Currently learning: Go, Python</em><br/>
        </p>
        <br/>
        <p>
            <em>AWS: ECS, ALB, EC2, ELB, Cloudfront, VPC, S3, Redshift, Route53, Serverless (Api Gateway, Lambda), IAM</em>
        </p>
        <br/>
        <p>
            <em>Devops: Jenkins, Consul, ELK, Terraform, setup CI/CD</em>
        </p>
        <br/>
        <p>
            <em>Docker: Docker engine, docker compose, docker swarm</em>
        </p>
        <br/>
        <p>
            <em>Database: Mongodb, Redis, Mysql, Postgresql</em>
        </p>
        <br/>
        <p>
            <em>OTHER SKILLS: Git, Cordova, Nginx, Digitalocean (Deployment and Configuration), RESTful API Implementation, Css & Sass & Smacss, Tdd / Bdd, Sublime</em>
        </p>
    </article>
</section>